<!--For smooth scrolling
    top2 is necessary to keep the alternating div classes in order
-->
<div id="top" style="position:absolute;top:0;left:0;width:0;height:0"></div>
<div id="top2" style="position:absolute;top:0;left:0;width:0;height:0"></div>

<!-- NavBar-->
<header class="NavBar">
{% if isHomepage == false %}
  <a class="NavBar-homeAnchor" href="{{site.url}}">
{% else %}
   <a class="NavBar-homeAnchor" href="#top" data-scroll>
{% endif %}
    <img class="NavBar-logo full" src="{{site.theme.link}}/img/Logo.svg" alt="Global Docs">
    <img class="NavBar-logo mark-only" src="{{site.theme.link}}/img/Mark.svg" alt="Global Docs">
    <!--<h1 class="visually-hidden">Alliance for Industrial Efficiency</h1>-->
  </a>
   <a class="NavBar-callToAction btn secondary js-overlay-link" data-overlay="get-started" href="/get-started">Get Started</a>
	<nav class="NavBar-wrapper nav-collapse" role="navigation">
		<!-- Site Branding & Home link-->

		<!-- Global navigation for site -->
    <a href="#" class="NavBar-mobileToggle ss-rows"></a>
    <!-- Primary Call to Action -->

    <!-- Nav Menu -->
    <ul class="NavBar-mainMenu">
		{% for item in menu %}
      <li class="NavBar-menuItem">
        <a class="NavBar-menuLink {% if item.is_active %} active {% endif %}" href="{% if isHomepage == false %}/{% endif %}{{item.url}}" data-scroll>
          <span class="NavBar-linkText">{{item.title}}</span>
        </a>
      </li>
	{% endfor %}
		</ul><!-- END: main-nav -->

  </nav><!-- END: nav-bar__nav-wrapper -->
</header><!-- END: nav-bar -->
