{% block html_head_container %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
BASE TEST 
<head>
  <meta charset="{{site.charset}}" />
  <title>
    {% if wp_title %}
    {{ wp_title }} - {{ site.name }}
    {% else %}
    {{ site.name }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{site.theme.link}}/css/application.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# Meta Data for SEO/Social Media #}
  {% include 'meta-info.twig' %}

  {# Favicons/Touch Icons
  {% include 'favicon.twig' %} #}
  {{function('wp_head')}}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  {#
  GLOBAL SITE HEADER
  ------------------------#}
  {% block header %}
  {% include 'header.twig' %}
  {% endblock %}

  {#
  SCREEN CONTENT
  ------------------------#}
  {% block content %}
  {% endblock %}

  {#
  FOOTER
  ------------------------#}
  {% block footer %}
  {% include 'footer.twig' %}
  {% endblock %}
  <script src="{{site.theme.link}}/js/lib/responsive-nav.js"></script>
  <script src="{{site.theme.link}}/js/lib/fastclick.js"></script>
  <script src="{{site.theme.link}}/js/lib/scroll.js"></script>
  <script src="{{site.theme.link}}/js/lib/fixed-responsive-nav.js"></script>
  <script src="{{site.theme.link}}/js/lib/modernizr.js"></script>
  <script src="{{site.theme.link}}/js/lib/modernizr-pointerevents.min.js"></script>
  <script src="{{site.theme.link}}/js/lib/overlay.js"></script>
  {% if isHomepage %}
  <script src="{{site.theme.link}}/js/lib/list.min.js"></script>
  <script>
  var options = {
    valueNames: [ 'name' ]
  };

  var countryList = new List('js-countries', options);

  (function(d){
  var c = " ", f = "flex", fw = "-webkit-"+f, e = d.createElement('b');
  try {
    e.style.display = fw;
    e.style.display = f;
    c += (e.style.display == f || e.style.display == fw) ? f : "no-"+f;
  } catch(e) {
    c += "no-"+f;
  }
  d.documentElement.className += c;
})(document);
  </script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>
  <script src="{{site.theme.link}}/js/lib/snap.svg-min.js"></script>
  <script src="{{site.theme.link}}/js/lib/global-docs-d3-map.js"></script>
  {% endif %}
  </body>
  </html>
