<!--Copyright {{"now"|date('Y')}}-->
<section class="Footer container">
  <div class="Footer-content">
    <div class="Footer-brand">
      <img class="Footer-logo" src="{{site.theme.link}}/img/Mark.svg" alt="Global Docs" style="#LogoType { color: #000 }">
    </div>
    <ul class="Footer-locations">
      {% for location in locations %}
      <li class="Footer-singleLocations">
        <h3 class="Footer-locationTitle">{{location.name}}</h3>
        <p class="Footer-locationContent">{{location.contactDetails}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="Footer-copyright">
  &copy; Global Docs {{ "now"|date("Y") }}. Site and brand by <a href="http://ripe.com" title="ripe | branding | web design | graphic design | print | Washington, DC" target="_blank">ripe</a>.
  </div>
</section>

<!-- Add markup for the appropriate overlays -->
<div class="Overlay always-on-top" id="js-overlay-get-started">
  <div class="Overlay-close">
    <span class="Overlay-closeIcon js-overlay-close" data-overlay="get-started"></span>
  </div>
  <div class="Overlay-scroll">
    <div class="">
      <div class="Overlay-modal scale">
        {% include 'modules/GetStarted.twig' with {'classes': 'light p-t-0'} %}
      </div>
    </div>
  </div>
</div>
{% if isHomepage %}
  {% for service in services %}
    {% if service.hasDocumentTypes %}
      {% for documentType in service.documentTypes %}
        <div class="Overlay light-gray-bg-96" id="js-overlay-{{documentType.slug}}">
          <div class="Overlay-close">
            <span class="Overlay-closeIcon js-overlay-close" data-overlay="{{documentType.slug}}"></span>
          </div>
          <div class="Overlay-scroll">
             <div class="Overlay-modal center scale">
                <img class="DocumentDetails-icon" src="{{documentType.icon}}">
                <h1 class="DocumentDetails-title">{{documentType.title}}</h1>
                <div class="DocumentDetails-description">{{documentType.description}}</div>
                {% if documentType.details %}
                <div class="DocumentDetails-table">
                  {% for detail in documentType.details %}
                    <div class="DocumentDetails-cell">
                      <div class="DocumentDetails-singleWrapper">
                        {{detail.a_single_full_document_detail}}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% endif %}
                <a class="btn m-t" href="submit/?doctype={{documentType.title|url_encode}}">Submit Inquiry</a>
              </div>
             </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
